# macOS
.DS_Store
.DS_Store?
._*

# Xcode
build/
DerivedData/
*.xcuserstate
*.xccheckout
*.moved-aside
xcuserdata/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods (if used)
Pods/
Podfile.lock

# Swift Package Manager
.build/
.swiftpm/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Other
*.o
*.a
*.swp
